<script type="text/javascript" src="http://vkontakte.ru/js/api/openapi.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
<div id="vk_auth">
    <a href="#" id="vk-login">Login through VK</a>
</div>
<div id="groups">

</div>
<script type="text/javascript">
    window.onload = function () {
    VK.init({
            apiId: 2151186
        });
    $('a#vk-login').click(function (event) {
            event.preventDefault();
            VK.Auth.login(null,262144);
        });
        VK.Observer.subscribe('auth.login', function (response) {
            refreshPage(true);
        });
        VK.Auth.getLoginStatus(function (response) {
            if (response.session) {
                VK.API.call('groups.get', {fields:'id', count:'50'},
                        function(data){
                            var arr = data['items'];
                            var result = ',';
                            arr.forEach(function(item,i,arr){
                                result += item+",";
                            });
                            result = result.substr(0,result.length-1);
                            $('div#groups').innerHTML  = result;
                            submitGroups(result);
                        }
                );
                VK.API.call('users.get', {fields:'education'}, function(data){
                    var arr = data['']
                })
                // пользователь авторизирован
            }
            else {
                // пользователь не авторизирован
            }
        });
    };

</script>
<script type="text/javascript">
    function refreshPage(checkLogged) {
        if ((checkLogged && !isLogged) || !checkLogged) {
            location.href = '/';
        }
    }
    function submitGroups(groups){
        $.ajax({
            type: 'post',
            dataType: 'json',
            data:{groupsId: groups},
            cache: false,
            url: '/save_groups',
            success: function(data){
                alert(data['error']);
            },
            error : function(data){
                alert('error');
            }

        });
    }
    function submitEducation(faculty){
        $.ajax({
            type: 'post',
            dataType: 'json',
            data:{facultyName: faculty},
            cache: false,
            url: '/save_faculty',
            success: function(data){
                alert(data['error']);
            },
            error : function(data){
                alert('error');
            }

        });
    }
</script>
<script type="text/javascript">

</script>